@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
:root{
    --cor-de-fundo: rgb(0, 0, 0);
    --texto1: rgb(197, 197, 197);
    --texto2: blue;
    --botao-ativo: rgb(156, 218, 156);
    --botao-inativo: rgb(156, 218, 156);
    --texto-fundo: rgb(141, 177, 137);
}
body {
    background-color: var(--cor-de-fundo);
    font-family: 'Berkshire Swash'; 
}
.botoes{
    display: flex;
    justify-content: center;
}

.botao{
    font-size: 40px;
    padding: 3em;
    border-color: rgb(7, 0, 70);
    font-family:  'Berkshire Swash';
    background-color: var(--botao-inativo);
    color: var(--texto1);
    justify-content: center;
    align-items: center;
    width: 10%;
    text-align: center;
    display: flex;
    margin: 80px;
    
}
.botao:first-child{
    border-radius: 60px 0 60px 0;

}
.botao:last-child{
    border-radius: 60px 0px 60px 0;
}
.botao:nth-child(2){
    border-radius: 60px 0px 60px 0;
}


.conteudo-principal{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    display: flex
}

.Titulo-principal{
    font-size: 60px;
    text-align: center;

}
.ativo{
    background: var(--botao-ativo); 
    border: 8px solid rgb(0, 0, 0);
   
    
}